*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #1e1e1e;
    color: #fff;
}

.content {
    width: 100%;
    margin-top: 46px;
    height: 100%;
    text-align: center;
}

/* .content p {
    font-family: Helvetica;
} */

#date-picker {
    /* font-family: helvetica; */
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.content-wrapper {
    position: relative;
}

.date-submit {
    border: none;
    padding: 12.5px 20px;
    border-radius: 5px;
    background-color: #f47932;
    color: #fff;
}

#number,
#number1,
#number2,
#number3 {
    font-size: 7em;
}

#number1, 
#number3 {
    border-top: 1px solid #fff;
}

.employees {
    padding: 10px 20px;
    border-radius: 5px;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #f47932;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #333;
    color: #fff;
    margin-top: 2rem;
}

.button:hover {
    background-color: #fd6a02
}

.button:active {
    background-color: #883000;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #f47932;
}


